:root {
    --gray-border: #F5F5F5;
    --letter-color-black: #3C3C3C;
    --letter-color-gray: #D2D2D2;
    --letter-green-pay: #16DB99;
    --letter-green-strong: #065F46;
    --letter-green-light: #ECFDF5;
    --white: #FFFFFF;
    --green-border: #757575;
    --sm-font-size: 18px;
    --lg-font-size: 24px;
    --xx-font-size: 80px;


}

body {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

header {
    width: 100%;
    height: 160px;
    background-image: url(./bg.png);
    color: var(--white);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.logo {
    padding-top: 25px;
    padding-left: 40px;


}

.logo h1 {
    font-size: var(--lg-font-size);
    margin-bottom: 0px;
}

.logo p {
    font-size: var(--sm-font-size);
    margin-top: 8px;
}

.p-emoji {
    font-size: var(--xx-font-size);
    margin-top: 0px;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    height: 140px;

    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 0px;
    gap: 20px;
    border-bottom: 1px var(--green-border) solid;

}

.menu-item {
    width: 10%;
    justify-items: start;
}

.menu-item1 {
    width: 60%;
    align-content: start;
    margin-top: 4px;
}

.p-name {
    margin: 6px;
}

.p-name-title {
    font-size: var(--lg-font-size);
    color: var(--letter-color-black);

}

.p-name-ingredients {
    font-size: var(--sm-font-size);
    color: var(--green-border);
}

.p-name-price {
    font-size: var(--sm-font-size);
    color: var(--letter-color-black);
}

.menu-item3 {
    margin-top: 25px;
}

.btn {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background-color: var(--letter-green-pay);
    color: var(--letter-green-strong);
    border: none;
    font-size: var(--sm-font-size);

}

.btn:hover {
    background-color: var(--letter-green-strong);
    color: var(--letter-green-light);
    cursor: pointer;
    transform: scale(1.2);
}

.p-render-title {
    text-align: center;
}

.inactive {
    display: none;
}

.active {
    display: block;
}

.feed-item {
    display: flex;
    margin-left: 40px;


}

#checkout {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 0px;
    gap: 20px;



}

.btnRemove {
    border: none;
    background-color: transparent;
    color: var(--green-border);
    margin-top: 18px;
    font-size: 12px;
}

.btnRemove:hover {
    color: var(--letter-green-strong);
    cursor: pointer;
    transform: scale(1.2);
}

.p-one {
    width: 18%;
    font-size: var(--sm-font-size);

    align-content: center;

}

.p-two {
    width: 74%;



}

.p-three {
    font-size: var(--sm-font-size);

    align-content: center;
}

.total {
    text-align: end;
    border-top: 1px var(--green-border) solid;
    font-size: var(--sm-font-size);
    margin-right: 4px;
}

.btnCheckout {
    width: 100%;
    margin-left: 20px;
    margin-right: 10px;

}

.btn-check {

    width: 100%;
    height: 44px;
    border-radius: 8px;
    background-color: var(--letter-green-pay);
    border: none;
    color: var(--letter-green-strong);
    font-size: var(--sm-font-size);
}

.btn-check:hover {
    background-color: var(--letter-green-strong);
    color: var(--letter-green-light);
    cursor: pointer;
    transform: scale(1.05);
}